<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        *ngIf="data?.sprites?.other?.dream_world?.front_default"
      >
        <div class="background"></div>
        <img
          [src]="data?.sprites?.other?.dream_world?.front_default"
          alt="img"
          class="img-pokemon"
        />
      </ion-col>
      <ion-col size="8">
        <h2 class="title">Information</h2>
      </ion-col>
      <ion-col size="4">
        <div class="circle"></div>
        <ion-icon name="star" class="icon-fav" (click)="goFav(data)"></ion-icon>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="6">
            <p class="txt-inf">Name: <span>{{ data?.name }}</span></p>
            <p class="txt-inf">Weight: <span>{{ data?.weight }}</span></p>
            <p class="txt-inf">Height: <span>{{ data?.height }}</span></p>
            <p class="txt-inf">
              Experience: <span>{{ data?.base_experience }}</span>
            </p>
          </ion-col>
          <ion-col size="6">
            <p class="txt-inf">Order: <span>{{ data?.order }}</span></p>
            <p class="txt-inf">Types:</p>
            <ion-chip *ngFor="let type of data?.types" color="warning" mode="ios">
              <ion-label>{{ type?.type?.name }}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <h2 class="title">Skills</h2>
      </ion-col>
      <ion-col size="12"  id="sec-stats">
        <ion-chip *ngFor="let items of data.abilities" color="secondary" mode="ios">
          <ion-label>{{ items?.ability.name }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="12">
        <h2 class="title">Stats</h2>
      </ion-col>
      <ion-col size="12" *ngFor="let items of data.stats" id="sec-stats">
        <p class="txt-stats">{{ items?.stat.name }}</p>
        <ion-progress-bar
          mode="ios"
          color="secondary"
          value="0.{{ items?.base_stat }}"
        ></ion-progress-bar>
      </ion-col>
      <ion-col size="12">
        <h2 class="title">Moves</h2>
      </ion-col>
      <ion-col size="4" *ngFor="let items of data.moves" id="sec-stats">
        <ion-chip  color="warning" mode="ios">
          <ion-label>{{ items?.move.name }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row class="column-share">
    <ion-col size="6"> </ion-col>
    <ion-col size="12">
      <ion-button shape="round" class="btn-share" mode="ios">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        <span
          ><a
            href="https://api.whatsapp.com/send?phone=573136187484&text=Hola%2C%20has%20ingresado%20a%20PokeDex%20by%20Pokemon%2C%20ingresa%20a%3A%20%F0%9F%98%83"
            target="_blank"
            >Share via WhatsApp</a
          ></span
        ></ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
