.background {
  background: #ffcb05;
  width: 100%;
  height: 170px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.img-pokemon {
  position: absolute;
  z-index: 1;
  width: 40%;
  top: 10px;
  left: 110px;
}
.title {
  color: #000;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 0px;
  font-size: 16px;
}
#sec-stats {
  padding-left: 20px;
  padding-right: 20px;
  .txt-stats {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
  }
}
.txt-inf {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 20px;
  font-size: 12px;
  span {
    font-weight: 300;
    color: grey;
    text-transform: unset;
    font-size: 12px;
  }
}
ion-item {
  ion-label {
    font-weight: bold;
    color: #000;
    span {
      font-weight: 300;
    }
  }
}
.btn-share {
  display: block;
  margin: 0px auto;
  --background: #25d366;
  --background-activated: #25d366;
  width: 90%;
  margin-bottom: 10px;
  span {
    color: #fff;
    font-weight: bold;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.circle {
  display: block;
  margin: 0pc auto;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: #3d7dca;
  margin-top: 0px;
}
.icon-fav {
  display: block;
  margin: 0px auto;
  font-size: 28px;
  color: #ffcb05;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 5px;
  left: 52px;
}
.txt-fav-circle {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e91e63;
  text-align: center;
  font-size: 10px;
}