<ion-footer mode="ios">
  <ion-row>
    <ion-col size="6">
      <ion-button shape="round" class="btn-all" (click)="goToHome()">
        <ion-icon name="apps" slot="start"></ion-icon>
        <span>All</span>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button shape="round" class="btn-fav" (click)="goToFav()">
        <ion-icon name="heart" slot="start"></ion-icon>
        <span>Favorites</span>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>