ion-footer {
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
  .btn-all {
    display: block;
    margin: 0px auto;
    --background: #3d7dca;
    --background-activated: #3d7dca;
    width: 150px;
    height: 44px;
    margin-bottom: 20px;
    margin-top: 20px;
    span {
      color: #fff;
    }
  }
  .btn-fav {
    display: block;
    margin: 0px auto;
    --background: #bfbfbf;
    --background-activated: #bfbfbf;
    width: 150px;
    height: 44px;
    margin-bottom: 20px;
    margin-top: 20px;
    ion-icon {
      color: #fff;
    }
    span {
      color: #fff;
    }
  }
}