ion-grid {
  padding: 20px;
  .logo {
    padding-top: 10%;
    animation: float 3s ease-in-out infinite;
  }
  .title {
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
  }
  .text {
    color: #000;
    text-align: center;
  }
  .container-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    ion-button {
      --background: #3d7dca;
      --background-activated: #3d7dca;
      --background-hover: #3d7dca;
      --color: #fff;
      span {
        font-weight: bold;
      }
    }
  }
  @keyframes float {
    0% {
      transform: translatey(10px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(10px);
    }
  }
  .pokeball-img {
    position: absolute;
    width: 100%;
    left: 1%;
    top: 22%;
    animation: float 3s ease-in-out infinite;
  }
}
