<ion-content>
  <ion-grid>
    <ion-row *ngIf="show">
      <ion-col size="12" size-md="12" size-lg="12">
        <img
          src="assets/img/pikachu.png"
          alt="pokedex"
          loading="lazy"
          class="logo"
        />
      </ion-col>
      <ion-col size="12" size-md="12" size-lg="12">
        <img src="https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/7/77/latest/20111028181540/TituloUniversoPok%C3%A9mon.png/550px-TituloUniversoPok%C3%A9mon.png" alt="">
        <h1 class="title">Welcome to </h1>
        <p class="text">
          The digital encyclopedia created by Professor Oak is an invaluable
          tool to Trainers in the Pokémon world.
        </p>
      </ion-col>
      <ion-col size="12">
        <div class="container-btn">
          <ion-button shape="round" (click)="goToHome()" mode="ios"
            ><span>Get started</span></ion-button
          >
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hide">
      <img
        src="assets/img/pokeball1.png"
        alt="pokedex"
        loading="lazy"
        class="pokeball-img"
      />
    </ion-row>
  </ion-grid>
</ion-content>