<ion-content [fullscreen]="true" color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 class="title">Your Pokemon's <br> favorites!</h2>
      </ion-col>
      <ion-col size="12">
        <ion-searchbar
          placeholder="Search..."
          mode="md"
          (ionInput)="search($event)"
        ></ion-searchbar>
      </ion-col>
      <ion-col size="12">
        <div *ngIf="data.length == 0 ">
          <ion-row>
            <ion-col size="12">
              <h4 class="alert">
                Please add a favorite
                <p>from home!</p>
              </h4>
              <ion-button
                shape="round"
                (click)="goToHome()"
                class="btn-nofav"
                mode="ios"
              >
                <span>Go to Home</span>
              </ion-button>
              <img src="assets/img/pokeball1.png" alt="img" class="nofav-img">
            </ion-col>
          </ion-row>
        </div>
        <ion-list class="poke-list" *ngFor="let items of data;">
          <ion-item lines="none" (click)="goToDetails(items.items)">
            <ion-label> {{ items?.items?.name}} </ion-label>
            <ion-icon name="heart" size="large" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>