ion-grid {
  padding-left: 20px;
  padding-right: 20px;
  ion-row {
    ion-col {
      .title {
        color: #000;
        font-weight: bold;
        margin-left: 10px;
        margin-bottom: 0px;
        margin-top: 60px;
      }
      ion-searchbar {
        margin-top: 0px;
        --box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
        margin-bottom: 20px;
      }
      .poke-list {
        --background: #fff;
        border-radius: 10px;
        height: 65px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
        margin-bottom: 20px;
        ion-item {
          ion-label {
            margin-top: 2%;
            font-weight: bold;
            text-transform: uppercase;
          }
          ion-icon {
            color: #ffcb05;
          }
        }
      }
    }
  }
}
.nofav-img{
  display: block;
  margin: 0px auto;
  width: 80%;
  margin-top: 40px;
}
.alert {
  color: #3d7dca;
  text-align: center;
  margin-bottom: 0px;
  font-weight: bold;
  p {
    margin-top: 5px;
    font-weight: 300;
    color: #000;
    padding-bottom: 10px;
  }
}
.btn-nofav {
  display: block;
  margin: 0px auto;
  --background: #3d7dca;
  --background-activated: #3d7dca;
  width: 50%;
  span {
    color: #fff;
    font-weight: bold;
  }
}