<ion-content [fullscreen]="true" color="tertiary">
  <img src="https://i.imgur.com/oJkBNgX.jpg" alt="">
  <ion-grid>
    <ion-row>
      <ion-col size="12" id="sec-header">
        <h1 class="title">¿What Pokemon <br />are you looking for?</h1>
        <ion-searchbar
          placeholder="Search..."
          mode="md"
          (ionInput)="search($event)"
        ></ion-searchbar>
      </ion-col>
      <ion-col size="12" id="sec-inf">
        <ion-row>
          <ion-col size="8" >
            <h4 class="subtitle">Pokemon News</h4>
            <ion-col size="12">
              <p class="heading-one">Pokemon rumble rush arives soon</p>
              <span class="heading-two">10 de May 2019</span>
            </ion-col>
            <ion-col size="12">
              <p class="heading-one">Pokemon rumble rush arives soon</p>
              <span class="heading-two">10 de May 2019</span>
            </ion-col>
          </ion-col>
          <ion-col size="4">
            <h4 class="heading"><a href="">View all</a></h4>
            <ion-col size="12">
              <img src="assets/img/squirtle.png" alt="img" class="img-inf">
            </ion-col>
            <ion-col size="12">
              <img src="assets/img/charizard.png" alt="img" class="img-inf">
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12">
        <h2 class="heading-three">Pokemons</h2>
      </ion-col>
      <ion-col size="12" id="sec-list">
        <ion-list class="poke-list" *ngFor="let items of data.results">
          <ion-item lines="none">
            <ion-label (click)="goToDetails(items)">
            {{ items?.name}}
            </ion-label>
            <ion-icon
              name="heart"
              size="large"
              slot="end"
              (click)="goFav(items)"
              [class.selected]="items.selected == true"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>