ion-grid {
  padding-left: 0px;
  padding-right: 0px;
  ion-row {
    ion-col {
      .title {
        padding-top: 20px;
        padding-left: 20px;
        color: #000;
        font-weight: bold;
        margin-bottom: 0px;
        transform: scale(1);
        animation: pulse-black 5s infinite
      }
      .subtitle {
        color: #000;
        font-weight: bold;
        margin-bottom: 0px;
      }
      .heading {
        font-weight: bold;
        a {
          color: #3d7dca;
          text-decoration: none;
          text-align: right;
          float: right;
        }
      }
      .heading-one {
        color: grey;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .heading-two {
        color: grey;
        font-weight: 300;
      }
      .heading-three {
        padding-left: 20px;
        color: #000;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      .img-inf {
        width: 70%;
        float: right;
        padding-top: 20px;
        transform: scale(1);
        animation: pulse-black 5s infinite
      }
      ion-searchbar {
        margin-top: 20px;
        --box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
        margin-bottom: 20px;
        --border-radius: 5px;
      }
      .poke-list {
        --background: #fff;
        border-radius: 10px;
        height: 65px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
        margin-bottom: 20px;
        ion-item {
          ion-label {
            margin-top: 2%;
            font-weight: bold;
            text-transform: uppercase;
          }
          ion-icon {
            color: #3d7dca;
            transform: scale(1);
            animation: pulse-black 5s infinite
          }
          .heading-fav {
            color: #3d7dca;
            font-size: 10px;
          }
          ion-icon.selected {
            color: #eca539;
          }
        }
      }
    }
  }
}
@keyframes pulse-black {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
}
#sec-header {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#sec-inf {
  background: #fff;
  margin-bottom: 20px;
  padding: 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
#sec-list {
  padding-left: 20px;
  padding-right: 20px;
}